<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Actors</title>
  <link rel="stylesheet" href="movies.css" />
</head>
<body>
  <h1>Actor List</h1>
  <a href="/"><p>HOME</p></a>
  <ul class="content-list">
    <% @actors.each do |actor| %>
      <li><a href= <%="actors/#{actor[1]}" %> > <%= actor[0] %></a></li>
    <% end %>
  </ul>

</body>
</html>
