<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies Cataglog</title>
</head>
<body>

<h1>Information about movies! Pick your poison.</h1>

<ul>
  <a href="/movies"><li>Movies</li></a>
  <a href="/actors"><li>Actors</li></a>
</ul>

</body>
</html>
