<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies Cataglog</title>
  <link rel="stylesheet" href="movies.css" />
</head>
<body>

<h1>Information about movies! Pick your poison.</h1>

<div class="front-page">
  <a href="/movies"><p>Movies</p></a>
  <br>
  <a href="/actors"><p>Actors</p></a>
</div>

</body>
</html>
